.body{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  background-color:#F0F0F6;
  margin: 0;
  padding: 0;
}


.parent {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 2;
}
.nav-btn.active {
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 37px;
  display: flex;
  align-items: center;
  background-color: #FFB400;
  border-radius: 10px;
}

.nav-btn {
  cursor: pointer;
}

.home-banner {
  height: 630px;
  display: flex;
  align-items: center;
  background-color: white;
}

.home-banner-text {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  width: 80%;
}

.home-banner-text-imrayan {
  font-size: 48px;
  font-weight: bold;
}

.hire-me-button {
  border: none;
  background-color: #FFB400;
  width: 110px;
  height: 35px;
  border-radius: 5px;
}

.cards-botton {
  border: none;
  border-radius: 50px;
  background-color: #EFEFEF;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 13px;
  margin-top: 7px;
}

.card-peoject {
  box-shadow: 5px 5px 10px 0px #0000001A;
  border-radius: 12px;
  width: 385px;
  padding-right: 0px;
  background-color: white;
}